<form class="auth" action="/auth/login" method="POST">
  <label class="auth-element" for="auth-email">Email</label>
  <input class="auth-element" id="auth-email" type="email" name="email">

  <label class="auth-element" for="auth-password">Password</label>
  <input class="auth-element" id="auth-password" type="password" name="password">

  <input class="auth-element" type="submit" value="Log In">
</form>

<a href="/">back</a>