<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer></script>
  </head>
  <body>
    <%- include('partials/alerts') %>
    <header>
      <nav>
        <ul>
          <% if (!currentUser) {%>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %>
          <li><a href="/auth/logout">Logout</a></li>
          <form action="/">
            <select name="location-dropdown" id="location-dropdown">
              <option value="94577">SL(test)</option>
            </select>
          </form>
          <% } %>
        </ul>
      </nav>
    </header>
    <h1>Authentication</h1>
    <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
