<% if (!currentUser) {%>
    
    <h1>nope</h1>
<% } else { %>

    <div class="main-content">
        <div class="weather-style">
            <h2><%=name%></h2>
            <p id="weather-info">
                <%=skytext%> 
            </p>
            <a href="/profile">Profile</a>
            <a href="/placeform">Change or add a place</a>
        </div>
        <br>
        <div id="start-container" class="weather-style">
            <button id="start">Start!</button>

        </div>
        <div class="weather-style" id="timer-control">
            <h2 id="time">5:00</h2>
        </div>
        <div class="weather-style" id="timer-buttons">
            <button class="timer" id="subtract-focus-time">-</button>
            <h4 class="timer" id="focus-time">5:00</h4>
            <button class="timer" id="add-focus-time">+</button>
            <button class="timer" id="subtract-down-time">-</button>
            <h4 class="timer" id="down-time">2:00</h4>
            <button class="timer" id="add-down-time">+</button>
        </div>
        <form action="/profile" method="POST">
            <div id="text-feild-control">
                <p><textarea name="content" id="text-feild" cols="30" rows="10" class="hidden"></textarea></p>
            <input type="hidden" name="userId" value="<%= id %>">
            <input type="hidden" name="isdeleted" value="false">           
                <button type="submit">submit</button>
            </div>
        
        </form>
    </div>


<% } %>
