<% if (!currentUser) {%>
    
    <h1>nope</h1>
<% } else { %>

    <h1>TEST Logged in page</h1>
    <button id="start">Start!</button>
    <div id="timer-control">
        <h2 id="time">15:00</h2>
    </div>
    <div id="timer-buttons">
        <button>-</button>
        <h4 id="focus-time">15:00</h4>
        <button>+</button>
        <button>-</button>
        <h4 id="down-time">5:00</h4>
        <button>+</button>
    </div>
    <div id="text-feild-control">
        <p><textarea name="text-feild" id="text-feild" cols="30" rows="10"></textarea></p>
    </div>
    <div id="submit-text">
        <button type="submit">submit</button>
    </div>

<% } %>
