<% if (!currentUser) {%>
    
    <h1>nope</h1>
<% } else { %>

    <div class="main-content cloudy">
        <div id="weather-info" class="cloudy-element">
            <div class="weather-name"><%=name%></div>
            <p>
                <%=skytext%> 
            </p>
            <div class="main-page-links">
                <a href="/profile">Profile</a>
                <a href="/placeform">Change place</a>
            </div>
        </div>
        <br>
        <div id="start-container" class="cloudy-element">
            <div id="time" class="timer-countdown">5:00</div>
            <button id="start">Start!</button>

        </div>
        <div class="cloudy-element" id="timer-buttons">
            <div class="timer-button-container">
                <button class="timer" id="subtract-focus-time">-</button>
                <h4 class="timer" id="focus-time">5:00</h4>
                <button class="timer" id="add-focus-time">+</button>    
            </div>
            <div class="timer-button-container">
                <button class="timer" id="subtract-down-time">-</button>
                <h4 class="timer" id="down-time">2:00</h4>
                <button class="timer" id="add-down-time">+</button>
            </div>            
        </div>
        <form action="/profile" method="POST">
            <div id="text-feild-control">
                <p><textarea name="content" id="text-feild" cols="30" rows="10" class="hidden"></textarea></p>
                <input type="hidden" name="userId" value="<%= id %>">
                <input type="hidden" name="isdeleted" value="false">           
                <button class="hidden" id="submit" type="submit">submit</button>
            </div>        
        </form>
        <br>
        <form action="/signedin/<%=zipcode%>" method="POST">
            <button class="delete">delete place</button>
        </form>
    </div>
<% } %>
