body {
  background-color: lightblue;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.hidden {
  visibility: hidden;
}

.main-content {
  background-color: darkgray;
}

.main-content-sunny {
  background-color: rgb(247, 247, 162);
}