body {
  background-color: lightblue;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.hidden {
  visibility: hidden;
}

.main-content {
  background-color: rgb(145, 143, 143);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-sunny {
  background-color: rgb(247, 247, 162);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-style-sunny {
  background-color: lightskyblue;
}

.weather-style {
  background-color: lightgray;
}


.timer {
  margin: 10px;
}

#timer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:20px;
  margin: 20px;
}



#start-container {
  margin: 20px;
}