body {
  background-color: lightblue;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.hidden {
  visibility: hidden;
}

.main-content {
  background-color: rgb(145, 143, 143);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.main-content-sunny {
  background-color: rgb(247, 247, 162);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.weather-style-sunny {
  background-color: lightskyblue;
}

.weather-style {
  background-color: lightgray;
}


.timer {
  margin: 10px;
}

#timer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:20px;
  margin: 20px;
  border-radius: 50%;
}



#start-container {
  padding: 5px 130px 20px 130px;
  margin: 20px;
  border-radius: 50%;
}

#weather-info {
  margin: 20px;
  padding: 40px 43px;
  border-radius: 50%;
  text-align: center;
}

#text-feild-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}